@import './variables';
@import './mixins';

:root {
	--color-text-blue: #0023d1;
	--color-text-red: #fe0000;
	--color-border-blue: #6898d1;
}

.background {
	text-align: center;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}

body {
	background-color: #405060;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

.light-shadow {
	@include light-shadow;
}

.simple-content {
	margin: 0 50px 0 100px;
	padding: 80px 50px 40px 50px;
	background-color: white;
	border-radius: 50px;
	-webkit-margin-collapse: separate;
}

.frost-background {
	@include frost-background;
}

.main-container {
	text-align: left;
	position: relative;
}

.page-body {
	padding-bottom: 10px;
}

@include breakpoint($nondesktop) {
	.main-container {
		width: 100%;
		margin: 0;
		font-size: 20pt;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.two-column {
		width: 100%;
		display: block;
	}

	.simple-content {
		margin: 0 0 0 50px;
	}
}

@include breakpoint($desktop) {
	.main-container {
		width: 1260px;
		margin: auto;
	}

	.two-column {
		width: 50%;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;

		&:first-child {
			padding-right: 25px;
		}
		&:nth-child(n + 1) {
			padding-left: 25px;
		}
	}
}
