@import '../../variables';
@import '../../mixins';

.ServicesPage {
	background-color: #b1acac;
	color: $color-text-dark-blue;

	.pageBackground {
		position: absolute;
		width: 2520px;
		height: auto;
		left: -750px;
		top: -620px;
	}

	position: relative;
	padding: 10px 40px;
}

@include breakpoint($nondesktop) {
	.ServicesPage {
		padding: 10px 25px;

		.pageBackground {
			left: -900px;
		}
	}
}
