@import "../../variables";
.ContactPage {
	min-height: 520px;
	color: $color-text-blue;

	ul {
		font-size: 24pt;
	}

	.fbPage {
		position: absolute;

		right: 60px;
		top: 100px;
	}
}

.pageBackground {
	position: relative;
}

.pageBackgroundImage {
	position: absolute;
	width: 200%;
	height: auto;
	left: -50%;
	top: -200px;
	right: -50%;
	z-index: -10;
}
