@import '../../variables';
@import '../../mixins';

.AboutItem {
	@include frost-background;
	position: relative;
	display: block;
	padding: 0 50px;
	margin: 20px 0;
	font-size: 16pt;
	color: $color-text-dark-blue;

	h1 {
		padding: 10px 0;
		margin: 0;
		cursor: pointer;
		user-select: none;
	}

	p {
		text-align: justify;
	}

	.bigIcon {
		display: block;
		position: absolute;
		font-size: 40pt;
		padding: 20px;
		background-image: url('../../../public/icon-frame.svg');
		background-size: 100%;
		left: -55px;
		top: -10px;
	}
	.content {
		transform-origin: left top;
		transition: all 1s ease-out;
		max-height: 0;
		padding-bottom: 1em;
		padding: 0;
		overflow: hidden;

		p {
			margin: 1em 0;
		}

		@for $i from 1 through 6 {
			:global(.lazy-content-#{$i}) {
				transform-origin: left top;
				line-height: 0;
				transform: scaleY(0);
			}
		}
	}

	&.open {
		.content {
			max-height: 5000px;
			transition-delay: 1.5s;
			padding-bottom: 20px;
		}

		@for $i from 1 through 6 {
			:global(.lazy-content-#{$i}) {
				transition: all 1s ease-out;
				transition-delay: calc(calc(0.75s * #{$i}) + 1s);
				line-height: 1.3;
				transform: scaleY(1);
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
		border-bottom-left-radius: 25px 100px;
	}
}
