@import '../../variables';
@import '../../mixins';

.AboutPage {
	color: $color-text-blue;
	border-left: 5px solid $color-text-red;
	border-radius: 0;
	border-bottom-left-radius: 30px 100px;
	background: transparent;
	padding: 0;

	.intro {
		@include frost-background;
		display: inline-block;
		padding: 5px 50px;
		margin: 0 0 10px 0;
		font-size: 16pt;
		color: $color-text-dark-blue;

		.placeholder {
			float: left;
			width: 70px;
			height: 50px;
			shape-outside: polygon(100% 0, 70% 70%, 0 100%, 0 0);
		}
	}
}

body {
	background-color: #114466;
}

@include breakpoint($nondesktop) {
	.AboutPage {
		.placeholder {
			width: 100px;
			height: 100px;
		}
	}
}
